<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your custom styles -->
    <title>{{title}}</title>
</head>

<body>
    {{>header}}
    <!-- Content area -->
    <main class="content">
        <h1>{{title}}</h1>
        <p>{{errorMessage}}</p>
    </main>

    {{>footer}}
</body>

</html>
