{{!-- footer.hbs --}}
<!-- GitHub-style footer -->

<footer class="github-footer">
    <div class="github-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
    </div>
</footer>
